body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid #46c188;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    width: 40em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .game-info {
    width: 15em;
    margin-left: 20px;
  }
  
  .game-info li{
      margin: 2px 0px;
  }